@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
body{
    padding: 0%;
    margin: 0%;
    background-color: black;   
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12vh;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
}
.navbar-right{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.a-element{
    padding: 20px;
    color: white;
}
.a-element:hover{
    color: rgb(112, 226, 112);
}
.main{
    height: 100vh;
    color: white;
    text-align: center;
}
.scrol{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.scrol-left{    
    margin-left: 285px;
    width: 25vh;
    padding-bottom: 20px;
    margin-top: -20px;
    height: 30vh;
}
.scrol-right{
    margin-right: 600px;
    padding-top: 15px;
    color: green;
    padding-bottom: 20px;
    margin-top: -20px;
}
.about{
    margin-top: 125px;
    height: 100vh;
    background-color: white;
}
.about-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.about-left{
    width: 800px;
    font-size: 23px;
    text-align: left;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: lightskyblue;
    border-radius: 20px;
}
.about-right{
    margin-top: 50px;
}
.education{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    background-color: white;
}
.education-head{
    width: fit-content;
    margin: 70px;
    color: green;
}
.school{
    width: 60vh;
    height: 25vh;
    margin-right: 50px; 
    background-color: lightskyblue; 
    border-radius: 10px;
    color: black; 
}
.diploma{
    width: 60vh;
    height: 25vh;
    margin-left: 50px; 
    background-color: lightskyblue; 
    border-radius: 10px; 
    color: black;   
}
.B-tech{
    width: 70vh;
    height: 25vh;
    margin-left: 75vh;
    margin-top: 50px;
    background-color: lightskyblue; 
    border-radius: 10px; 
    color: black;    
}
.sub-education{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: -50px;
}
.school-logo{    
    width: 10vh;
    padding: 5px;
    margin-top: -15px;    
}
.school-head{
    padding-bottom: 30vh;  
    width:300px;
    margin-left: 30px;
    margin-top: -90px;
    font-size: 25px;    
}
.school-info{
    margin-top: -210px;
    font-family: 'Montserrat', sans-serif;
}
.diploma-logo{    
    width: 10vh;
    padding-right: 5px;  
    margin-top: 10px;
}
.diploma-head{
    padding-bottom: 30vh;
    width:300px;
    margin-left: 40px;
    margin-top: -70px;
    font-size: 25px;    
}
.diploma-info{
    margin-top: -210px;
    font-family: 'Montserrat', sans-serif;    
}
.btech-logo{
    width: 10vh;
    padding-right: 5px;  
    margin-top: 10px;
}
.btech-head{
    padding-bottom: 30vh;
    width:400px;
    margin-left: 20px;
    margin-top: -70px;
    font-size: 25px;    
}
.btech-info{
    margin-top: -210px;
    font-family: 'Montserrat', sans-serif;
}
.skills{
    height: 100vh;
    margin-top: 50px;
    width: 100%;
    background-color: white;
}
.skills-head{
    width: fit-content;
    margin-left: 30px;
    margin-top: 80px;
    color: green;
}
.skills-divide{
    display: flex;
    flex-direction: column;
}
.skills-sub1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 20px;
}
.skill-1{ 
    height: 30vh;
    width: 30vh;
    background-color: lightskyblue; 
    border-radius: 10px;
    color: green;
}
.skill-2{
    height: 30vh;
    width: 30vh;
    background-color: lightskyblue; 
    border-radius: 10px;
    color: green;
}
.skill-3{
    height: 30vh;
    width: 30vh;
    background-color: lightskyblue; 
    border-radius: 10px;
    color: green;
}
.skill-4{
    height: 30vh;
    width: 30vh;
    background-color: lightskyblue; 
    border-radius: 10px;
    color: green;
}
.skills-sub2{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-bottom: 100px;
}
.skill-5{ 
    height: 30vh;
    width: 30vh;
    background-color: lightskyblue; 
    border-radius: 10px;
    color: green;

}
.skill-6{
    height: 30vh;
    width: 30vh;
    background-color: lightskyblue; 
    border-radius: 10px;
    color: green;
}
.skill-7{
    height: 30vh;
    width: 30vh;
    background-color: lightskyblue; 
    border-radius: 10px;
    color: green;
}
.skill-8{
    height: 30vh;
    width: 30vh;
    background-color: lightskyblue; 
    border-radius: 10px;
    color: green;
}
.contact{
    height: 80vh;
    width: 100%;

}
.contact-head{
    color: green;
    width: fit-content;
    margin-top: 30vh;
    margin-left: 10vh;
}
.contact-sub{
    width: 60vh;
    margin-left: 80vh;
    height: 35vh;
}
.socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}





















































